keybinds clear-defaults=true {
  normal {
    bind "Ctrl b" {
      SwitchToMode "locked"
    }
  }

  locked {
    bind "\"" {
      NewPane "Down"
      SwitchToMode "normal"
    }
    bind "%" {
      NewPane "Right"
      SwitchToMode "normal"
    }

    bind "Left" {
      MoveFocus "Left"
      SwitchToMode "normal"
    }
    bind "Right" {
      MoveFocus "Right"
      SwitchToMode "normal"
    }
    bind "Up" {
      MoveFocus "Up"
      SwitchToMode "normal"
    }
    bind "Down" {
      MoveFocus "Down"
      SwitchToMode "normal"
    }

    bind "c" {
      NewTab
      SwitchToMode "normal"
    }
    bind "x" {
      CloseFocus
      SwitchToMode "normal"
    }
    bind "n" {
      GoToNextTab
      SwitchToMode "normal"
    }
    bind "p" {
      GoToPreviousTab
      SwitchToMode "normal"
    }

    bind "1" {
      GoToTab 1
      SwitchToMode "normal"
    }
    bind "2" {
      GoToTab 2
      SwitchToMode "normal"
    }
    bind "3" {
      GoToTab 3
      SwitchToMode "normal"
    }
    bind "4" {
      GoToTab 4
      SwitchToMode "normal"
    }
    bind "5" {
      GoToTab 5
      SwitchToMode "normal"
    }
    bind "6" {
      GoToTab 6
      SwitchToMode "normal"
    }
    bind "7" {
      GoToTab 7
      SwitchToMode "normal"
    }
    bind "8" {
      GoToTab 8
      SwitchToMode "normal"
    }
    bind "9" {
      GoToTab 9
      SwitchToMode "normal"
    }

    bind "d" {
      Detach
    }
    bind "Esc" {
      SwitchToMode "normal"
    }
  }
}

pane_frames false
keybinds_hint false
scroll_buffer_lines 10000

theme "nord" {}

